#rc-languages-selector {
  margin-bottom: 10px;
  padding: 3px 20px 1px;
  background-color: #FCFDFE;
  border: 1px solid #E0E0E0;
}

.rcls-hidden {
  display: none;
}

#rc-languages-selector h3 {
  float: left;
  margin-bottom: 9px;
  border-bottom: 1px solid #BFBFBF;
  font-weight: normal;
}

#rc-languages-selector p {
  clear: both;
}

#rc-languages-selector ul {
  list-style: none;
}

.rcls-button {
  padding: 5px 14px;
  width: 160px;
  height: 32px;
  overflow: hidden;
  vertical-align: top;
  box-shadow: none;
  text-shadow: none;
  color: #FFF;
  background: #4AC8F2;
  font-size: 13px;
  border: none;
  cursor: pointer;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.rcls-button:hover {
  background: #7BDAF9;
  outline-width: 0;
}

.rcls-button:active, .rcls-button:focus {
  outline-width: 1px;
}

.rcls-button.danger {
  background: #D94596;
}

.rcls-button.danger:hover {
  background: #DD6FAD;
}

#rcls-clear-filter {
  height: 22px;
  width: 77px;
  padding: 0 0 1px;
  border: 1px solid #bbb;
  vertical-align: baseline;
  background: rgba(0,0,0,0);
  color: #888888;
  font-size: 11px;
}

.rcls-arrow-icon-down {
  position: relative;
  top: -8px;
  font-size: 24px;
}

.rcls-arrow-icon-up {
  position: relative;
  top: 3px;
  font-size: 20px;
}

button#rcls-toggle-form .rcls-text-show {
  position: relative;
  top: -10px;
  padding-left: 5px;
}

button#rcls-toggle-form .rcls-text-hide {
  position: relative;
  top: -3px;
  padding-left: 5px;
}

.rcls-checkbox {
  position: absolute;
  opacity: 0.01; /* HACK: undetectable to the human eye, but detectable for tests */
}

.rcls-checkbox, .rcls-checkbox-label {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.rcls-checkbox-label {
  position: relative;
}

.rcls-checkbox + .rcls-checkbox-label:before {
  display: inline-block;
  top: -2px;
  position: relative;
  margin-right: 10px;
  padding: 2px;
  width: 11px;
  height: 11px;
  border: 2px solid #eee;
  content: "";
  background: #fff;
  vertical-align: middle;
  text-align: center;
}

.rcls-checkbox:checked + .rcls-checkbox-label:before {
  background: #aaa;
}
